* {
  margin: 0;
  padding: 0;
}
body {
  color:map-get($color, black);
  font-family: Arial,Helvetica,sans-serif;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}
h1, h2 , h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}
.clearfix {
  clear: both;
}
.font-size-10 {
  font-size: 10px;
}
.font-size-11 {
  font-size: 11px;
}
.font-size-13 {
  font-size: 13px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-15 {
  font-size: 15px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-19 {
  font-size: 19px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-25 {
  font-size: 25px;
}
.font-size-30 {
  font-size: 30px;
}
.font-size-40 {
  font-size: 40px;
}
.font-size-45 {
  font-size: 45px;
}
.font-size-48 {
  font-size: 48px;
}
.font-size-80 {
  font-size: 80px;
}
.text-uppercase {
  text-transform: uppercase;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
