$color:  (
  black: #000000,
  black-2: #282828,
  black-3: #212121,
  gray: #5c5c5c,
  gray-2: #acacac,
  gray-3: #48494a,
  gray-4: #f1f2f3,
  gray-5: #cccccc,
  orange: #ec4445,
  white: #ffffff,
  red: #ff343b,
);
