.gallery {
  width: 100%;
  padding: 70px 0 40px;
  .gallery-item {
    float: left;
    width: 360px;
    margin-right: 30px;
    &:nth-child(3) {
      margin-right: 0 !important;
    }
    .item-img {
      width: 100%;
    }
  }
  .fix {
    position: relative;
    overflow: hidden;
    .mens {
      position: absolute;
      left: 0;
      bottom: 30px;
      padding: 10px 30px;
      line-height: 30px;
      color: map-get($color, black);
      background: map-get($color, white);
    }
    &:hover {
      .zoom-img {
        @include transition(all 0.5s ease-in-out);
        transform: scale(1.2);
      }
    }
  }
}
.new-arrivals {
  padding-bottom: 30px;
}
.gallary {
  width: 100%;
  .gallary-item {
    float: left;
    width: 260px;
    margin: 30px 32px 0 0;
    &:nth-child(4n+4) {
      margin-right: 0;
    }
    .item-img {
      width: 100%;
    }
  .feture-desc {
    padding-top: 14px;
    .aliquam {
      color: map-get($color, gray);
      padding: 12px 0px;
      &:hover {
        color: map-get($color, red);
      }
    }
    .rating-start {
      color: map-get($color, red);
      .caption {
        float: right;
        font-weight: 700;
       }
      }
    }
  }
.hover-img {
  position: relative;
    .middle-hover {
      margin-top: -10px;
      position: absolute;
      display: none;
      text-align: center;
      top: 50%;
      width: 100%;
      z-index: 9;
      opacity: 0;
      .only {
        @extend %mr-pd;
        .only-item {
          @include transition(all 0.5s ease-in-out);
          display: inline-block;
          padding-right: 10px;
          padding: 10px;
          background: map-get($color, white);
          .only-a {
            color: map-get($color, black);
            .fao {
              &:hover {
                color: map-get($color, white);
              }
            }
          }
          &:hover {
            background: map-get($color, orange);
          }
        }
      }
    }
    .overlay {
      @extend %overlay;
      top: 0;
    }
    &:hover {
      .middle-hover {
        opacity: 1;
        display: block;
      }
      .overlay {
        height: 80%;
      }
    }
  }
  .sale-pro {
    position: absolute;
    top: 12px;
    left: 0;
    width: 54px;
    padding: 3px 0;
    font-weight: 700;
    background: map-get($color, gray);
    color: map-get($color, white);
    text-transform: capitalize;
    &:after {
      position: absolute;
      height: 11px;
      width: 20px;
      content: "";
      top: 5px;
      right: -6px;
      background: map-get($color, gray);
      transform: rotate(45deg);
    }
  }
}
.menu-feature {
  @extend %mr-pd;
  @include transition(all 0.5s ease-in-out);
  padding: 80px 0 30px;
  .main-feature-item {
    display: inline-block;
    padding-right: 40px;
    .fea {
      color: map-get($color, gray-2);
      text-decoration: none;
      font-weight: 700;
      &:hover {
        color: map-get($color, gray-3);
      }
      &.active {
        color: map-get($color, orange);
      }
    }
  }
}
.exclusive {
  height: 400px;
  margin: 100px 0 100px;
  &.ex-content {
    background: url(../images/banner/1.jpg);
    display: block;
    padding-top: 180px;
    .for {
      line-height: 60px;
      color: map-get($color, white);
      letter-spacing: 2px;
    }
  }
  &.ex-content2 {
    background: url(../images/banner/8.jpg) no-repeat;
    background-size: cover;
    display: block;
    padding-top: 180px;
    .nirob {
      color: map-get($color, white);
      line-height: 36px;
      .icon-img {
        @include border-radius(50%);
      }
    }
  }
}
.glasgery {
  width: 100%;
  .glasgery-item {
    float: left;
    width: 360px;
    margin: 30px 30px 0 0;
    &:nth-child(3n+3) {
      margin-right: 0;
    }
    .item-img {
      width: 100%;
    }
    .imgs {
      width: 140px;
      height: 130px;
    }
    .gery-a {
      margin-bottom: 30px;
    }
    .feature-img {
      float: left;
      width: 50%;
      .mattis {
        color: map-get($color, gray-2);
        &:hover {
          color: map-get($color, orange);
        }
      }
      .dolar {
        color: map-get($color, orange);
        line-height: 24px;
      }
      .rating-start {
        .star-o {
          color: map-get($color, orange);
        }
      }
    }
    .blockletter {
      padding: 40px;
      border: 1px solid  map-get($color, gray-2);
      .icon {
        display: inline-block;
        padding-left: 1;
        vertical-align: bottom;
        margin-right: 25px;
        .fal {
          color: map-get($color, gray-2);
        }
      }
      .blockter {
        display: inline-block;
      }
    }
    .content-desc {
      .sit {
        @include transition(all 0.5s linear);
        padding-top: 10px;
        &:hover {
          color: map-get($color, red);
        }
      }
      .ipsum {
        padding: 30px 0 30px;
        color: map-get($color, gray-6);
      }
    }
    .read-more {
      @include transition(all 0.5s linear);
      border-bottom: 1px solid map-get($color, gray-6);
      padding-bottom: 10px;
      &:hover {
        border-bottom: 1px solid map-get($color, red);
      }
      .more {
        @include transition(all 0.5s linear);
        text-decoration: none;
        color: map-get($color, gray-6);
        font-weight: 700;
        &:hover {
          color: map-get($color, orange);
        }
      }
      .day-nov {
        float: right;
        color: map-get($color, gray-6);
      }
    }
  }
  .glas-hover {
    position: relative;
    .glas-a {
      &:before {
        @include transition(all 0.5s ease-in-out);
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.25);
      }
      &:after {
        @include transition(all 0.5s ease-in-out);
        position: absolute;
        content: "";
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        background-color: rgba(255, 255, 255, 0.25);
      }
    }
   &:hover {
    .glas-a {
       &:before {
        height: 100%;
        width: 100%;
      }
      &:after {
        height: 100%;
        width: 100%;
      }
    }
   }
  }
  .hover-img {
    position: relative;
    .overlay {
      @extend %overlay;
      top: 0;
    }
    &:hover {
      .overlay {
        display: block;
        width: 140px;
        height: 130px;
      }
    }
  }

  .hover-gery {
    position: relative;
    .middle-hover {
      margin-top: -10px;
      position: absolute;
      display: none;
      text-align: center;
      top: 50%;
      width: 100%;
      z-index: 9;
      opacity: 0;
    }
    .overlay {
      @extend %overlay;
      &.over {
         top: 0;
      }
      &.over1 {
        top: 1%;
      }
    }
    &:hover {
      .middle-hover {
        opacity: 1;
        display: block;
        .hover-i {
          @include border-radius(100%);
          width: 50px;
          height: 50px;
          background-color: rgba(255, 255, 255, 0.9);
          color: map-get($color, gray);
          display: inline-block;
          vertical-align: top;
          line-height: 50px;
          &:hover {
             background-color: map-get($color, red);
             color: map-get($color, white);
          }
        }
      }
      .overlay {
        margin: 24px 30px 0px 30px;
        &.over {
           width: 300px;
           height: 200px;
        }
        &.over1 {
           width: 300px;
           height: 440px;
        }
      }
    }
  }
}
.our-brands {
  margin: 70px 0 70px;
  height: 280px;
  background: map-get($color, gray-4);
  .vals {
    padding-top: 70px;
  }
  .box-menu {
    @extend %mr-pd;
    .box-menu-item {
      display: inline-block;
      padding-right: 14px;
      .img-brand {
        width: 170px;
        height: 84px;
        border: 1px solid map-get($color, black);
      }
    }
  }
}
